<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=192.168.0.125;Initial Catalog=ISS;Integrated Security=false;User ID=abc;Password=abc" providerName="System.Data.SqlClient"/>
		<!--<add name="ApplicationServices" connectionString="Data Source=172.31.1.65\MSSQLSERVER12;Initial Catalog=ISS;Integrated Security=false;User ID=sa;Password=sys123" providerName="System.Data.SqlClient"/>-->
		<!--<add name="ApplicationServices" connectionString="Data Source=192.168.0.189;Initial Catalog=ISS;User Id=abc;Password=abc;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="Microsoft.SqlServer.Smo, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
				<!--<add assembly="Microsoft.SqlServer.SmoExtended, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
				<!--<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms timeout="500"/>
		</authentication>
		<sessionState timeout="600"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="ServerAddress" value="http://192.168.0.125/SSO/webLogin.aspx"/>
	<add key="WebReference.Webservice" value="http://192.168.0.125/SSO/Webservice.asmx"/>
	</appSettings>
</configuration>
